
<!DOCTYPE html>
<html>
<head>
	<title>Organisation</title>
	<title>Welcome to CPGRAMS</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link rel="icon" type="image/x-icon" href="/logo.png">
<link rel="preconnect" href="https://fonts.gstatic.com"> 
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
	<div class="main">
		<!--************** Top Bar Starts *************-->
		<div class="topbar">
			<div class="container-fluid clearfix">
			</div>
		</div>
		<!--*************** Top Bar Ends ***************-->

		<!--*************** Logo Bar Starts ***************-->
		
		<div class="head">
			<div class="container-fluid clearfix">
				<div class="d-flex justify-content-between">
					<div class="logo">
						<a href=""><img src="/logo.png"alt="logo"></a>
					</div>
					<div class="title-main">
						<h2>CPGRAMS</h2>
						<span class="hidden-sm-down">Centralized Public Grievance Register And Monitoring System</span>
					</div>
				</div>
			</div>
		</div>
		<!--*************** Logo Bar Ends ***************-->
		
		<!--*************** Nav Bar Starts ***************-->
		<div class="main-navbar bg-dark">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-md navbar-dark d-flex justify-content-between">
					<button type="submit" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
						<span class="navbar-toggle-icon">
						</span>
					</button>
					<div class="collapse navbar-collapse" id="collapsibleNavbar">
						<ul class="navbar-nav">
							<li class="nav-item">
								<a class="nav-link" href="/auth/loan"><img src="/ico_view.png" alt=""><button type="submit">View Status</button><span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button"data-toggle="dropdown"aria-expanded="false">
									<img src="/ico_grievance.png" alt=""><button type="submit">Grievance</button>
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown2">
									<a class="dropdown-item"href="/auth/organisation"><button type="submit">Lodge Personnel Grievance</button></a>
									<a class="dropdown-item" href="/auth/organisation"><button type="submit">Lodge Public Grievance</button></a>
									 <a class="dropdown-item" href="/auth/loan">View Status</a>
								</div>
							</li>
							<li class="nav-item">
								<a class="nav-link"href="/auth/notice"><i class="fa fa-bell" aria-hidden="true"></i><button type="submit">Notices</button><span class="sr-only">(current)</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</div>
		<!--************ Nav Bar Ends ***********-->

		<!--************ Dashboard Starts ***********-->
		<div class="container-fluid pl-1 flex-grow-1">
			<div class="main-content innerPage h-100">
			<div class="container-fluid h-100">
				<div class="row h-100">
					<nav class="col-auto left_panel">
						<div class="sidebar-sticky">
							<ul class="nav flex-column">
								<li class="nav-item">
									<a class="nav-link active"href="/auth/returndashboard">
										<i class="fa fa-dashboard"></i><button type="submit" style="color: black">Dashboard</button><span class="sr-only">(current)</span>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link"href="/auth/organisation">
										<i class="fa fa-plus-square"></i><button type="submit">Lodge Public Grievance</button>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link"href="/auth/updateprofile">
										<i class="fa fa-edit"></i><button type="submit">Edit Profile</button>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link"href="">
										<i class="fa fa-lock"></i><form action="/auth/send" method="POST"><button>Change Password</button></form>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link"href="/auth/loan">
										<i class="fa fa-inr"></i><button type="submit">Loan Status</button>
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-warning" href=""><form action=" /auth/logout" method="POST"><i class="fa fa-power-off"><button><strong></i>Sign out</button></strong>
									</form>
									</a>
								</li>
							</ul>
						</div>
					</nav>
					<!--*********** Dashboard Ends ***************-->
					<!--*********** Ministry Starts ***********-->
					<main role="main" class="col">
						<style type="text/css">
							.lodgeBox{
								min-height: 220px;
								margin-bottom: 15px;
							}
						</style>
						<div class="card card-info">
							<div class="card-header"style="background-color: #037afb">
								<h4 style="color: white">Please select a Ministry</h4>
							</div>
							<div class="card-body">
								<div class="row justify-content-center">
									<div class="col-lg-2 col-md-3 col-sm-6 lodgeMain">
										<a href="/auth/banking">
											<div class="grievCont lodgeBox">
												<div class="orgTitle">
													<span>Banking<br/>(Financial Services)</span>
												</div>
												<div class="boxGriev d-flex lodgeGriev">
													<div class="box-title">
														<img src="/deabd.png">
													</div>
												</div>

												
											</div>
										</a>
										
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6 lodgeMain">
										<a href="/auth/school">
											<div class="grievCont lodgeBox">
												<div class="orgTitle">
													<span>Education & Literacy</span>
												</div>
												<div class="boxGriev d-flex lodgeGriev">
													<div class="box-title">
														<img src="/dosel.png">
													</div>
												</div>

												
											</div>
										</a>
										
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6 lodgeMain">
										<a href="/auth/road">
											<div class="grievCont lodgeBox">
												<div class="orgTitle">
													<span>Road Transport & Highways</span>
												</div>
												<div class="boxGriev d-flex lodgeGriev">
													<div class="box-title">
														<img src="/morth.png">
													</div>
												</div>

												
											</div>
										</a>
										
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6 lodgeMain">
										<a href="/auth/health">
											<div class="grievCont lodgeBox">
												<div class="orgTitle">
													<span>Health & Family Welfare</span>
												</div>
												<div class="boxGriev d-flex lodgeGriev">
													<div class="box-title">
														<img src="/dhlth.png">
													</div>
												</div>			
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</main>
				</div>
			</div>
		</div>
	</div>
	<!--************ Ministry Ends ***********-->

    <!--************ Footer Starts ***********-->
    <footer>
      <div class="footer-top">
            <div class="copyright">
                  <span>This site is designed, developed & hosted by Students of Information Technology Department owned by School of Engineering,CUSAT</span>
            </div>
        </div>
    </footer>
    <!--************ Footer Ends ***********-->
  </div>
</body>
</html>